*.class

#package file
*.war
*.ear

#kdiff3
*.orig

#maven
target/

#eclipse
.settings
.project
.classpath

#idea
.idea/
/idea/
*.iml
*.ipr
*.iws

# temp file
*.log
*.cache
*.diff
*.temp
*.patch

# system ignore
.DS_Store
Thumbs.db
